{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom Style Sheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/frontend/style.css' %}"
    />

    <script defer src="{% static '/frontend/app.js' %}"></script>

    <title>restless {% block title %} {% endblock title %}</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'home' %}" class="nav-link">RESTless</a>
      </div>
      <div class="openMenu"><i class="fa fa-bars"></i></div>
      <ul class="mainMenu">
        <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        <li><a href="{% url 'docs' %}" class="nav-link">Docs</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'my_account' %}" class="nav-link">Account</a></li>
        <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
        <li><a href="{% url 'register' %}" class="nav-link">Register</a></li>
        {% endif %}
        <div class="closeMenu"><i class="fa fa-times"></i></div>
        <span class="icons">
          <i class="fab fa-github"></i>
          <i class="fab fa-docs"></i>
        </span>
      </ul>
    </nav>

    {% block body %} {% endblock body %}
  </body>
</html>
