@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    --txtclr:rgb(20, 117, 0);
    --bgblk: rgb(19, 19, 19);
  }
  body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bgblk);
    color: white;
  }
  nav {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    text-decoration: none;
    font-size: 30px;
    color: white;
  }

  .logo:hover{
    color: var(--txtclr);
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 18px;
    text-decoration: none;
    
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
    color: var(--txtclr);
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-github:hover {
    color: var(--txtclr);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
  }
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: var(--txtclr);
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
}
.title{
    text-align: center;
}