{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Register
{% endblock title %}
{% block body %}

<div class="max-w-lg mx-auto flex flex-wrap p-6">
<div
  class="w-full bg-black p-6 rounded-xl max-w-lg mx-auto flex flex-wrap p-6"
>
    <h1 class="text-2xl">Register for RESTless</h1>
  <form action="{% url 'register' %}" method="post" class="space-y-3">
    {% csrf_token %}
    {{ form }}
    <button class="bg-lime-800 hover:bg-lime-900 text-white rounded-xl px-6 py-2 mt-3">Submit</button>
  </form>
</div>
</div>
{% endblock body %}
